body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #353535;
    color: #333;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(56, 56, 56);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 1s ease-in;
}
h1, h2 {
    background: linear-gradient(to right, #9f22ff, #4049f5);
    background-clip: text;
    color: transparent;
    text-align: center;
}
.content-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.card {
    background: #636363;
    padding: 15px;
    border-radius: 5px;
    width: 32%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
a {
    color: #54afff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: linear-gradient(to right, #9f22ff, #4049f5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease-in-out; /* Ajout d'un effet d'accélération/décélération */
}
.button:hover {
    background: linear-gradient(to right,  #61149c, #1a219c);
}
.details {
    color: white;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-in-out;
}
.details.visible {
    max-height: 300px;
    opacity: 1;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.video-container {
    text-align: center;
    margin: 20px 0;
}
.text-intro{
    color: whitesmoke;
}

.sourceText{
    color: #54afff;
}

.Disclamer{
    color:white;
}

.underDisclamer{
    color: white;
    font-size: 10px;
}